<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fuck You Man</title>
	<link rel="stylesheet" type="text/css" href="/static/index_stylesheet.css">
</head>
<body>
	<div id="container">
		<div id="header">
			<a href={{ url_for('route') }} title="Home">
				<img src="/static/images/logo.png" alt="Dany Bouchard" style="width: 120px;height: 40px;"">
			</a>
		</div>
		<div id="content">
			<h1>{% block title %}You are currently at /{% blockend %}</h1>
			<p>
			"This website is currently used as a testing playground."
			<strong> By the way you are gay :)</strong>
			</p>
		</div>
	</div>
</body>